$backgroundColor: rgba(176, 176, 176, 0.17);
$borderRadius: 5px;
$backgroundShadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.5);

@mixin dispaly($flex:flex,$direction:row,$align:center,$content:center) {
  display: $flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $content;
}

.chart-outer-block {
  height: 500px;
  @include dispaly(flex, row, center, none);
  justify-content: space-between;

  .chart-inner-one {
    width: 49%;
    height: 100%;
    border-radius: $borderRadius;
    box-shadow: $backgroundShadow;
    @include dispaly();
    background-color: $backgroundColor;
  }

  .chart-inner-two {
    width: 49%;
    height: 100%;
    @include dispaly(flex, column, center, none);
    justify-content: space-between;

    .line-chart-block {
      width: 100%;
      height: 49%;
      border-radius: $borderRadius;
      box-shadow: $backgroundShadow;
      @include dispaly(flex, column, center, center);
      background-color: $backgroundColor;
    }

    .bar-chart-block {
      width: 100%;
      height: 49%;
      border-radius: $borderRadius;
      box-shadow: $backgroundShadow;
      @include dispaly(flex, column, center, center);
      background-color: $backgroundColor;
    }
  }
}
