.context {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .btns {
    display: flex;
    padding: 0;

    .dlt {
      margin-right: 5px;
    }
  }
}

.expandRw {
  background-color: rgba(189, 189, 190, 0.67);
  padding: 10px;
  border-top: 1px solid #fd0c0c;
  animation: expandRow 0.3s ease-out forwards;

}

.collapseRw {
  animation: collapseRow 0.3s ease-out forwards;
}

@keyframes expandRow {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: auto;
    opacity: 1;
  }
}

@keyframes collapseRow {
  0% {
    height: auto;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

